body {
    background-color: paleturquoise;
    font-family : 'Trebuchet MS', sans-serif;
}


h1 {
    color: #a3bfa6;
    font-weight:bold;
}

h2 {
    color:#7ed690;
    text-decoration: underline;
}

h3 {
    color: darkgrey;
}

p {
    color: darkgrey;
    letter-spacing: 1px;
}

.PubMesure {
    color: #784842;
    font-weight: bold;
}

ul {
    color: darkgrey;
    letter-spacing: 1px;
}
