body {
    
    font-family: 'Trebuchet MS', sans-serif;
}


h1 {
    color: #000000;
    font-weight:bold;
}

h2 {
    color:green;
    text-decoration: underline;
}

h3 {
    color: rgb(155, 152, 152);
}


.PubMesure {
    color: pink;
    font-weight: bold;
}

ul {
    color: darkgrey;
    letter-spacing: 1px;
}

a {
    color: rgb(65, 115, 252);
}