body {
    
    color:black;
    font-family : 'Trebuchet MS', sans-serif;
    width: 45%;
    margin: 0 auto;
    
    
}

.BoxCentre {
    background-color: rgb(247, 247, 247);
    text-align: justify;
    margin-left:3%;
    
}

.Orange {
    color:lightcoral;
}

.box {
    background-color: rgb(247, 247, 247);
    
}

 div.bordure {
        border-bottom:1px solid black;
            }
p {
    background-color: rgb(247, 247, 247);

}

          
